/* Mobile Screen Layout */
@media (min-width: 325px) {
    .container {
        width: 100%;
        border-radius: 0px;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

    .left-section {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .right-section {
        border-radius: 0px;
    }
}

/* Tablet Screen Layout */
@media (min-width: 525px) {
    .container {
        width: 80%;
        border-radius: 0px;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

    .left-section {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .right-section {
        border-radius: 0px;
    }
}

@media (min-width: 925px) {
    .container {
        width: 60%;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

    .left-section {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .right-section {
        border-radius: 0px;
    }
}

/* Desktop Screen Layout */
@media (min-width: 1024px) {
    .container {
        width: 50%;
        border-radius: 30px;
    }

    .left-section,
    .right-section {
        width: 50%;
    }

    .left-section {
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
    }

    .right-section {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}